altair==4.2.0
altair-data-server==0.4.1
aniso8601==9.0.1
anyio==3.5.0
apispec==5.1.1
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.0
asttokens==2.0.5
attrs==21.4.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.10.0
black==22.1.0
bleach==4.1.0
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
cycler==0.11.0
dash==2.2.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.9.1
dash-table==5.0.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Django==4.0.3
django-crispy-forms==1.14.0
dnspython==2.2.1
entrypoints==0.4
executing==0.8.2
Flask==2.1.1
Flask-Compress==1.11
flask-marshmallow==0.14.0
Flask-RESTful==0.3.9
flask-smorest==0.37.0
fonttools==4.29.1
gensim==4.1.2
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
ipykernel==6.9.1
ipython==8.0.1
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.1
joblib==1.1.0
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyter-server==1.13.5
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
kiwisolver==1.3.2
MarkupSafe==2.1.1
marshmallow==3.15.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
mypy-extensions==0.4.3
nbclassic==0.3.5
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
notebook==6.4.8
numpy==1.22.3
oauthlib==3.2.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.0
plotly==5.6.0
pluggy==1.0.0
portpicker==1.5.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
Pygments==2.11.2
pymongo==4.1.0
pyparsing==3.0.8
pyrsistent==0.18.1
pytest==7.1.2
pytest-flask==1.2.0
pytest-timeout==2.1.0
python-dateutil==2.8.2
pytz==2022.1
pyzmq==22.3.0
requests==2.27.1
requests-oauthlib==1.3.1
retrying==1.3.3
scikit-learn==1.0.2
scipy==1.8.0
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
sniffio==1.2.0
soupsieve==2.3.1
sqlparse==0.4.2
stack-data==0.2.0
statsmodels==0.13.2
tenacity==8.0.1
terminado==0.13.1
testpath==0.5.0
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
tornado==6.1
traitlets==5.1.1
tweepy==4.9.0
urllib3==1.26.8
wcwidth==0.2.5
webargs==8.1.0
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.1.1
wikipedia==1.4.0
wordcloud==1.8.1
zipp==3.8.0
